<div class='page-header'>
  <h2>
    <div class="label label-<%= status_label_class(@ticket.status) %>">#<%= @ticket.id -%></div>
    <%= truncate @ticket.subject, length: 200 -%>
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <%= form_for(@handler, as: :ticket, method: :put, url: ticket_path(@ticket.id)) do |f| %>

        <%= form_group_with_errors f.object, :comment do %>
          <%= f.text_area :comment, rows: 5, class: "form-control", placeholder: t('zendesk.comments.new.placeholder') %>
        <% end %>

        <p><%= submit_tag t('zendesk.comments.new.submit'), class: "btn btn-large btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @handler.comments.each do |comment| %>
      <div class="well comment">
        <div class="row">
          <% if photo = comment.author.photo %>
            <div class="col-xs-2 col-md-1">
              <%= image_tag photo.content_url, class: 'img-circle img-responsive' %>
            </div>
          <% end %>
          <div class="<%= photo ? 'col-xs-10 col-md-11' : 'col-md-12' %>">
            <div class="comment-body"><%= raw comment.html_body %></div>
            <small class="comment-details">
              <%= t 'zendesk.comments.details', time: format_time(comment.created_at), user: comment.author.name %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>