<div class='page-header'>
  <h2>
    <div class="label label-<%= status_label_class(@ticket.status) %>">#<%= @ticket.id -%></div>
    <%= truncate @ticket.subject, length: 200 -%>
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <%= render 'comment_form', comment: @comment %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @ticket.comments.each do |comment| %>
      <div class="well zendesk-comment">
        <div class="row">
          <% if photo = comment.author.photo %>
            <div class="col-xs-2 col-md-1">
              <%= image_tag photo.content_url, class: 'img-circle img-responsive' %>
            </div>
          <% end %>
          <div class="<%= photo ? 'col-xs-10 col-md-11' : 'col-md-12' %>">
            <div class="zendesk-comment-body"><%= raw comment.html_body %></div>
            <small class="zendesk-comment-details">
              <%= t 'zendesk.comments.details', time: format_time(comment.created_at), user: comment.author.name %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
